<ul class="social-media" style="  text-align: center;">




    {% if site.harmony.social.facebook %}
    <li>
        <a title="{{ site.harmony.social.facebook }} on Facebook" 
            href="#"
            class="facebook wc-img-replace" >Facebook</a>
    </li>
    {% endif %}

    {% if site.harmony.social.twitter %}
    <li>
        <a title="{{ site.harmony.social.facebook }} on Facebook"
           href="#"
           class="twitter wc-img-replace" >Facebook</a>
    </li>
    {% endif %}


    <!--
{% if site.harmony.social.gplus %}
<li>
    <a title="{{ site.harmony.social.gplus }} on Google Plus"
        href="https://plus.google.com/{{ site.harmony.social.gplus }}"
        class="google wc-img-replace" target="_blank">Google</a>
</li>
{% endif %}



{% if site.harmony.social.dribble %}
<li>
    <a title="{{ site.harmony.social.dribble }} on Dribble"
        href="https://dribbble.com/{{ site.harmony.social.dribble }}"
        class="dribble wc-img-replace" target="_blank">Dribble</a>
</li>
{% endif %}

{% if site.harmony.social.pinterest %}
<li>
    <a title="{{ site.harmony.social.pinterest }} on Pinterest"
        href="https://www.pinterest.com/{{ site.harmony.social.pinterest }}"
        class="pinterest wc-img-replace" target="_blank">Pinterest</a>
</li>
{% endif %}-->

</ul>